<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.SecKillDetailMapper">
    
    <resultMap id="BaseResultMap" type="com.mmall.pojo.SecKillDetail">
        <constructor>
            <idArg column="seckill_id" javaType="integer" jdbcType="INTEGER"/>
            <idArg column="user_id" javaType="integer" jdbcType="INTEGER"/>
            <arg column="status" javaType="integer" jdbcType="TINYINT"/>
            <arg column="create_time" javaType="date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    
    <sql id="Base_Column_List">
        seckill_id, user_id, status, create_time
    </sql>
    
    <!--insert ignore 是在主键冲突时忽略该条插入，返回0，否则执行sql会报错，这样就实现了防止重复秒杀的行为，-->
    <insert id="insert" parameterType="map">
        INSERT IGNORE INTO mmall_secKill_detail (seckill_id, user_id, status, create_time)
        VALUES (#{secKillId}, #{userId}, DEFAULT ,now())
    </insert>



</mapper>